@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Raleway', sans-serif;
		background-color: rgba(9, 14, 22, 1);
        overflow-x: hidden;
	}
}

@layer components {
	.container {
		@apply max-w-[1655px];
	}
}

::-webkit-scrollbar {
	width: 8px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: rgba(123, 74, 226, 0.1);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: #7b4ae2;
	border-radius: 2em;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: normal;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scrollbar-color: #7b4ae2 rgba(123, 74, 226, 0.1); /* «цвет ползунка» «цвет полосы скроллбара» */
	scrollbar-width: thin; /* толщина */
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
